<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class = 'doit'>JUST DO IT!</h1>
    <div>
        <h2><%= user.userName %> has <%= left %> things left to do. <a href="/logout">Logout</a></h2>
        <ul>
        <% todos.forEach( el => { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    <span id = 'date' class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.date %></span>
                    <span class='fa fa-trash'></span>
                </li>
        <% }) %>    
        </ul>



        <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form>

        
    </div>

    <script src="js/main.js"></script>
</body>
</html>